
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  {block name="title"}<title>后台管理系统</title>{/block}

	<meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="__STATIC__/admin/css/font.css">
    <link rel="stylesheet" href="__STATIC__/admin/css/xadmin.css">
    <link rel="stylesheet" href="__STATIC__/admin/lib/layui/css/layui.css">
  	<link rel="stylesheet" href="__PUBLIC__/font-awesome/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="__STATIC__/admin/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="__STATIC__/admin/js/xadmin.js"></script>
</head>
<body>

    <!-- 顶部开始 -->
       <div class="container">
        <div class="logo"><a href="index/index.html">{$name}{if condition="$admin_cate_id eq '1' "} 超級管理員{else /}普通管理員{/if}</a></div>
        <div class="left_open">
            <i title="展开左侧栏" class="iconfont">&#xe699;</i>
        </div>
        <ul class="layui-nav left fast-add" lay-filter="">
          <li class="layui-nav-item">
            <a href="javascript:;">+新增</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
              <dd><a  href="javascript:void()" onclick="x_admin_show('资讯','http://www.baidu.com')"><i class="iconfont">&#xe6a2;</i>资讯</a></dd>
              <dd><a  href="javascript:void()" onclick="x_admin_show('图片','http://www.baidu.co  m')"><i class="iconfont">&#xe6a8;</i>图片</a></dd>
              <dd><a  href="javascript:void()" onclick="x_admin_show('用户','http://www.baidu.com')"><i class="iconfont">&#xe6b8;</i>用户</a></dd>
            </dl>
          </li>
        </ul>
        <ul class="layui-nav right" lay-filter="">
          <li class="layui-nav-item">
            <a href="javascript:;">{$name}</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
              <dd><a  href="javascript:void()" onclick="x_admin_show('个人信息','/index.php/admin/admin/personal.html','800','600')">个人信息</a></dd>
              <!-- <dd><a  href="javascript:void()" onclick="x_admin_show('切换帐号','')">切换帐号</a></dd> -->
              <dd><a href="javascript:;" id='logout' >退出</a></dd>
            </dl>
          </li>
          <li class="layui-nav-item to-index"><a href="http://{$Think.SERVER.HTTP_HOST}__ROOT__/index.php">前台首页</a></li>
        </ul>
        <script type="text/javascript">
           $('#logout').click(function(){
              layer.confirm('真的要退出?',{icon: 3, title:'提示',anim: 2}, function(index){
                  $.ajax({
                    url:"{:url('admin/common/logout')}"
                    ,success:function(res) {
                      layer.msg(res.msg,{offset: '300px',anim: 4});
                      if(res.code == 1) {
                          setTimeout(function(){
                              location.href = res.url;
                          },2000)
                      }
                    }
                  })
              })
            })
        </script>

    </div>
    <!-- 顶部结束 -->

    <!-- 中部开始 -->
    <!-- 左侧菜单开始 -->

    <div class="left-nav">
      <div id="side-nav">
        <ul id="nav">
          {volist name='menus' id='data'}
            <li class="">
                <a href="javascript:;">
                    <i class="fa {$data.icon}"></i>
                    <cite>{$data.name}</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <!-- 三级菜单 -->`
                    {notempty name="$data.list"}
                    {volist name="$data.list" id="vo"}
                    {notempty name="$vo.list"}
                    <li>
                        <a href="javascript:;">
                            <i class="fa {$vo.icon}"></i>
                            <cite> {$vo.name}</cite>
                            <i class="iconfont nav_right">&#xe697;</i>
                        </a>
                        <ul class="sub-menu">
                           {volist name="$vo.list" id="co"}
                            <li>

                                <a _href="{$co.url}">
                                    <i class="fa {$co.icon}"></i>
                                    <cite>{$co.name}</cite>

                                </a>
                            </li >
                            {/volist}

                        </ul>
                    </li>
                   {else /}
                      <li>
                         <a _href="{$vo.url}">
                           <i class="fa {$vo.icon}"></i>
                            <cite>{$vo.name}</cite>
                          </a>
                      </li >
                    {/notempty}
                    {/volist}
                    {/notempty}
                </ul>
              </li>
            {/volist}
        </ul>
      </div>
    </div>
    <!-- 左侧菜单结束 -->
    <!-- 右侧主体开始 -->
     <div class="page-content">
      <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
        <ul class="layui-tab-title">
          <li>我的桌面</li>
        </ul>
        <div class="layui-tab-content">
          <div class="layui-tab-item layui-show">

                <iframe src="{:url('main/index')}" frameborder="0" scrolling="yes" class="x-iframe">

          </div>
        </div>
      </div>
    </div>

    <div class="page-content-bg"></div>
    <!-- 右侧主体结束 -->
    <!-- 中部结束 -->
    <!-- 底部开始 -->
     <div class="footer">
        <div class="copyright">Copyright ©2018 tpadmin v3.0 All Rights Reserved</div>
    </div>
    <!-- 底部结束 -->
    <script>
    //百度统计可去掉
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
</body>
</html>