
{include file="public/top" /}

<div  class="content flex">
     <link rel="stylesheet" type="text/css" href="__STATIC__/index/css/order.css"></link>
    <!-- 左边导航  公共模板-->
    <div  class="content-left ">
        <div>
            <!-- 搜索 -->
            <div  class="content-left-title content-left-border ">搜索</div>
            <div>
                <ul >
                    <a href="#" ><li class="content-left-list content-left-list-font1 content-left-border action"  id="allorder"><span >全部订单</span></li></a>
                </ul>
            </div>
            <!-- 订单 -->
            <div class="content-left-title content-left-list-font1 content-left-border">订单</div>
            <div>
                <ul >
                    <a href=""><li class="content-left-list content-left-list-font1 content-left-border "><span>待审核(0)</span></li></a>
                    <a href=""><li class="content-left-list content-left-list-font1 content-left-border"><span>待处理(0)</span></li></a>
                    <a href=""><li class="content-left-list content-left-list-font1 content-left-border"><span>运单号申请(0)</span></li></a>
                    <li class="content-left-list-font1 " >
                        <span class="">待打单</span>
                        <ul>
                            <a href=""><li class="content-left-list content-left-list-font2  content-left-border"><span>有货(0)</span></li></a>
                            <a href=""><li class="content-left-list content-left-list-font2 content-left-border"><span>缺货(0)</span></li></a>
                        </ul>
                    </li>
                    <li  class="content-left-list-font1 ">
                        <span  class="">已交运</span>
                        <ul>
                            <a href=""><li class="content-left-list content-left-list-font2 content-left-border"><span>发货失败(0)</span></li></a>
                            <a href=""><li class="content-left-list content-left-list-font2 content-left-border"><span>发货失败(0)</span></li></a>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- 其他 -->

            <div class="content-left-title content-left-list-font1 content-left-border">其他</div>
            <div >
                <ul>
                    <a href=""><li class="content-left-list content-left-list-font1 content-left-border"><span>已退款(0)</span></li></a>
                    <a href=""><li class="content-left-list content-left-list-font1 content-left-border"><span>已搁置(0)</span></li></a>
                </ul>
            </div>

            <div>
                <a href="">
                    <div  class="content-list3 content-left-list">
                        批次发货
                    </div>
                </a>
            </div>

        </div>
        <div class='clear'></div>
    </div>



    <style type="text/css">


    </style>
    <div class="content-right ">

        <!-- 右侧 -->
        <div class="content-right-search">
            <!-- 面包屑导航 -->
            <div class="content-crumb">
                <div>

                    当前位置 : 订单 > 订单搜索
                </div>
            </div>
            <!-- 面包屑导航结束 -->


            <!-- 查询条件 -->
            <div  class="search-main">

                <div  style="">
                    <div class="search-font1" style="border-bottom:1px solid #ccc">
                        <div>
                            <span>平台渠道:</span>
                            <span>
                            <!-- <a href=""><span class="action">全部</span></a> -->
                                <a href="#"><span class="action ">Amazon</span></a>
                            </span>
                        </div>

                        <div>
                            <span>店铺账号:</span>
                            <span>
                                <a href="#"><span class="action click_one">全部</span></a>
                                <a href="#"><span  class="click_one">planetdinosaur</span></a>
                            </span>
                            <!-- <a href="#"><span>手工订单</span></a> -->
                        </div>
                    </div>
                </div>
                <div  style="">
                    <div class="search-font1" style="border-bottom:1px solid #ccc">
                        <div>
                            <span>订单状态:</span>
                            <span>                                   
                                <a href="#" ><span class="action click_one">全部</span></a>
                                <a href="#"><span class="click_one">未付款</span></a>
                                <a href="#"><span class="click_one">待处理</span></a>
                                <a href="#"><span class="click_one">已完成</span></a>
                            </span>
                        </div>

                        <div>
                            <span>物流方式:</span>
                            <span>
                                <a href="#"><span class="action click_one">全部</span></a>
                                <a href="#"><span class="click_one">其他</span></a>
                            </span>

                        </div>
                    </div>
                </div>
                <div  style="">
                    <div class="search-font1" style="border-bottom:1px solid #ccc">
                        <div>
                            <span>排序方式:</span>
                            <span ><a href="">按下单时间</a></span>
                            <span ><a href="">按订单金额</a></span>
                            <!-- <span ><a href="">按买家指定物流</a></span>     	 -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- 查询条件end  -->
        </div>
        <!-- 右侧end -->
    <!-- 信息列表 -->
        <div  class="message_list">

            <div class='flex message_nav' style="" >
                <div  class="message_list1">商品信息</div>
                <div  class="message_list2">订单金额</div>
                <div  class="message_list3">收件人「国家」</div>
                <div  class="message_list4">订单号</div>
                <div  class="message_list5">时间</div>
                <div  class="message_list6">状态</div>
                <div  class="message_list7">操作</div>
            </div>
    <!-- 信息列表end -->
<!-- 订单列表模板 -->
            <div >
                <div style="background:#F2F2F2;border-left:1px solid #ccc;border-right:1px solid #ccc;">
                   <input type="checkbox" name=""> XM2XLK01234
                </div>
                <div class="flex message_content">

                        <div  class="message_list1" style="">商品信息</div>
                        <div  class="message_list2">USD 144.00</div>
                        <div  class="message_list3">test [英国]</div>
                        <div  class="message_list4" style="color:#5891DB">0045</div>
                        <div  class="message_list5">
                            <div>下单:2017-03-02 17:38</div>
                            <div>付款:2017-03-02 17:39</div>
                            <div>提交:2017-05-02 17:38</div>
                        </div>
                        <div  class="message_list6">待打单</div>
                        <div  class="message_list7">
                            <div><a href="" style="color:#5891DB">打印面单</a></div>
                            <div><a href="" style="color:#5891DB">发货</a></div>
                            <div><a href="" style="color:#5891DB">详情</a></div>
                        </div>

                </div>
            </div>

<!-- 订单列表模板end -->

        </div>
        <!-- 信息列表end -->

    </div>

    <div>

    </div>


</div>
</body>



<script type="text/javascript">

    // 条件选择,选中状态
    $('.click_one').click(function(){
        var flag=$(this).hasClass('action');

        if(!flag){

            $(this).parent().siblings().find('span').removeClass('action');
            $(this).addClass('action');
            // alert(1);
        }
    })

    $('#allorder').click(function(){
        $.get("index.php/index/index/getorders",function(data,status){
             
        });
    })
</script>