<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
   
    <link rel="stylesheet" type="text/css" href="__STATIC__/public/style.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/public/header/header.css">
    <script src="__STATIC__/index/js/jquery-3.1.1.min.js">   </script>
   
</head>
<body>
<!-- <header>
    <div>
        <a href="" style=""  class="header-a">重要通知:重要通知：根据速卖通要求，小秘已经切换速卖通新版接口，所有速卖通店铺需重新授权， 点此查看授权说明</a>
    </div>
</header> -->
<nav  class="nav">

    <div  class="nav-list">
        <div class="logo fl">

        </div>
        <!-- 顶部导航,遍历 -->
        <ul  class="fl">
            <a href="./"><li>首页</li></a>
            <a href=""><li>产品</li></a>
            <a href=""><li>订单</li></a>
            <a href=""><li>客服</li></a  >
            <a href=""><li>采购</li></a>
            <a href=""><li>仓库</li></a>
            <a href=""><li>物流</li></a>
            <a href=""><li>数据</li></a>

        </ul>
    </div>
</nav>